<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="./dist/img/favicon.png">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/registerStyle.css">
  <title>ChitChat</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-2"></div>
      <div class="col-lg-6 col-md-8 register-box">
        <div class="col-lg-12 register-title text-light my-2">
          REGISTER FOR CHITCHAT
        </div>

        <div class="col-lg-12 register-form">
          <div class="col-lg-12 register-form">
            <form action="/api/auth/registerUser" method="POST">
              <div class="form-group">
                <label class="form-control-label">FULLNAME</label>
                <input type="text" name="fullName" class="form-control" autocomplete="off">
              </div>

              <div class="form-group">
                <label class="form-control-label">EMAIL</label>
                <input type="text" name="email" class="form-control" autocomplete="off">
              </div>

              <div class="form-group">
                <label class="form-control-label">PASSWORD</label>
                <input type="password" name="password" class="form-control" autocomplete="off">
              </div>

              <div class="col-lg-12 registerbttm">
                <div class="col-lg-6 register-btm register-text">
                  <%= msg %>
                </div>
                <div class="col-lg-12 register-btm register-button text-center">
                  <button type=" submit" class="btn btn-outline-info w-50 rounded-pill text-center mx-auto my-4 py-2">
                    REGISTER</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-3 col-md-2"></div>
      </div>
    </div>
</body>

</html>