body {
    background: #333333;
    font-family: 'Roboto', sans-serif;
}

.register-box {
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow:2px 1px 10px rgba(192, 192, 192, 0.16), -2px -1px 10px rgba(192, 192, 192, 0.16);
    transform: translate(-50%,-50%);
   border-radius: 20px;
}


.register-title {
   padding:20px 0;
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #5fb7f1;
}

.register-form {
    margin-top: 10px;
    text-align: left;
}

input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 10px;
    padding-left: 0px;
    color: #ECF0F5;
}

input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 10px;
    color: #ECF0F5;
}

.form-group {
    margin-bottom: 20px;
    outline: 0px;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #0DB8DE;
    right: 0px;
}

.register-btm {
    float: left;
}

.register-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 15px;
}

.register-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.registerbttm {
    padding: 30px auto;
}

.register-box{
    box-shadow: 1px 0px 15px 1px #b4b5b8;
    background: #202020;
    padding: 24px;
    width: 600px;
    border-radius: 12px;
  }

.register-form input {
    width: 100%;
    height: 50px;
    background: transparent;
    border-bottom: 2px solid rgb(86, 230, 230);
    outline-style: none;
    margin-bottom: 20px;
  }
  .register-form button {
    width: 100%;
    height: 50px;
    padding:40px auto;
  }
  
  .register-form button:hover {
    box-shadow: 0px 1px 15px 5px #b2dceb;
  }