/* General Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

input {
  font-size: 14px;
}

body {
  line-height: 1.4;
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin-bottom: 16px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #777;
}

input {
  border: 1px solid #eeeeee;
  padding: 12px;
  outline: none;
}

button {
  cursor: pointer;
  padding: 12px;
  background: #7c5cbf;
  border: none;
  color: white;
  font-size: 16px;
  transition: background 0.3s ease;
}


button:disabled {
  cursor: default;
  background: #a581f394;
}

/* Join Page Styles */

.centered-form {
  background: #333333;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-form__box {
  box-shadow: 1px 0px 15px 1px #b4b5b8;
  background: #202020;
  padding: 24px;
  width: 400px;
  border-radius: 12px;
}
.centered-form__box h1 {
  text-align: center;
  color: #fff;
}

.centered-form button {
  width: 100%;
  height: 50px;
}

.centered-form button:hover {
  box-shadow: 0px 1px 15px 5px #b2dceb;
}

.centered-form input {
  width: 100%;
  height: 50px;
  background: transparent;
  border-bottom: 2px solid rgb(85, 189, 207);
  outline-style: none;
  margin-bottom: 50px;
}

/* Chat Page Layout */

.chat {
  display: flex;
}

.chat__sidebar {
  height: 100vh;
  color: white;
  background: #474749;
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 10;
  transition: 0.3s;
}

.chat__sidebar form input {
  height: 50px;
  border-radius: 12px;
  border: 1px solid rgb(88, 88, 88);
  margin: 1px;
}

.sidebar-box {
  width: 98%;
  height: 99vh;
  border-radius: 12px;
  margin: 1px;
  background: #272729;
}

/* Chat styles */

.chat__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.chat__main #chitchat-box {
  border: 1px solid rgb(88, 88, 88);
  border-radius: 12px;
  height: 50px;
}

.chat__main #chitchat-box #chitchat {
  margin-top: 5px;
  font-size: 28px;
}

.chat__messages {
  width: 100%;
  height: 89vh;
  border-radius: 12px;
  background: #272729;
  flex-grow: 1;
  overflow-y: scroll;
  padding: 12px 24px 0 24px;
}

/* Message Styles */

.message {
  margin-bottom: 16px;
}

.message__name {
  font-weight: 600;
  font-size: 14px;
  margin-right: 8px;
}

.message__meta {
  color: #777;
  font-size: 14px;
}

.message a {
  color: #0070cc;
}

/* Message Composition Styles */

.compose {
  display: flex;
  flex-shrink: 0;
  margin-top: 1px;
  padding: 24px;
  width: 100%;
  border-radius: 12px;
  background: #272729;
}

.compose form {
  display: flex;
  flex-grow: 1;
  margin-right: 16px;
}

.compose input {
  width: 80%;
  padding: 12px;
  margin: 0 16px 0 0;
  flex-grow: 1;
  background: #eee;
  font-size: 24px;
}

.compose button {
  font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
  font-weight: 400;
  font-size: 22px;
  background: #2c2f3a;
  padding: 24px;
}

.list-title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 4px;
  padding: 12px 24px 0 24px;
}

.users {
  list-style-type: none;
  font-weight: 300;
  padding: 12px 24px 0 24px;
}
#send-location {
  width: 60px;
  height: 60px;
}

#send-location img {
  width: 30px;
  height: 30px;
}
.message img {
  width: 50px;
  height: 50px;
}

.message #map-box a {
  outline-style: none;
  color: #333;
}

.message #map {
  width: 30px;
  height: 30px;
}
form input:focus {
  box-shadow: 1px 1px 2px rgb(79, 154, 253);
  border: 1px solid rgb(79, 154, 253);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(2, 2, 2);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(19, 129, 202);
  box-shadow: inset 0 0 5px rgb(2, 2, 2);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(153, 208, 245);
  box-shadow: inset 0 0 5px rgb(27, 37, 44);
}

.room-title {
    height: 70px;
  color: #fffccb;
  border: 1px solid #666964;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom: none;
  background: #272729;
  margin-bottom: 0;
  text-transform: capitalize;
}

.sidebar-box h3 {
  color: #8df7f7;
  font-size: 14px;
  border: 1px solid #666964;
  padding-bottom: 15px;
  text-transform: capitalize;
  background: transparent;
  
}

.sidebar-box h3 a {
    width:30px;
    height:30px;
    border: none;
    transition: all 0.3s;
}

.sidebar-box a img {
    width:25px;
    height:25px;
    background: transparent;
    float: right;
}

.user-container {
  margin-top: 0;
}

.userList {
  border: 1px solid #666964;
  padding: 15px;
  margin-top: 0;
  background: #474749;
  text-transform: capitalize;
}

.userList img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 0;
    border-radius: 50%;
   
}

.userList span {
    float: right;
    margin-top: 10px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  #chitchat-box{
      height:70px !important;
      background:#272729 ;
      margin-right: 15px;
  }

  #chitchat-box a{
    width: 40px;
    height: 40px;
    float: left;
    margin-left: 10px;
  }
  #chitchat-box a img{
    width: 25px;
    height: 25px;
    float: left;
    margin: 12px 0 12px 10px;
  }